<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>소켓통신</title>

    <link rel="shortcut icon" type="image/x-icon" href="/client/etc/cho.png" />
    <!-- 홈 그림
    <link href="/client/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/client/css/user.css" rel="stylesheet" type="text/css" />
    -->

    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", () => {
        // 브라우저에서 new WebSocket() webSocket 이라는 객체 생성
        //const domain = "port-0-node2023-3j5jwm62alg3i5c0s.sel3.cloudtype.app";
        const domain = "localhost";
        //const domain = "192.168.35.9";

        const webSocket = new WebSocket("ws://" + domain + ":3002");

        //브라우저는 ws://localhost:3002 으로 요청을 보내게 된다.

        //연결에 성공하면 아래의 콜백함수가 실행됨
        webSocket.onopen = () => {
          console.log("웹소켓 connection 성공 (HandShake)");
        };

        //const form = document.querySelector("form");
        const button = document.querySelector(".submit");

        //button.addEventListener("submit", (e) => {
        button.addEventListener("click", (e) => {
          e.preventDefault();

          const form = document.querySelector("form");
          const input = form.input;
          const name = form.name;
          //console.log(form.input.value);
          //console.log(form.name.value);
          //console.log(e.target);
          //const { input, name } = e.target;

          //console.log(input.value);
          //console.log(name.value);

          //발생하는 event 에 따라 구분값을 만들어주기 위해
          //객체 형태로 메세지를 작성해서 보낸다.
          //단, 데이터를 전달할 때는 무조건 string 형태로 전달

          let nameValue = "<%=name%>" != "" ? "<%=name%>" : name.value;

          let data = {
            type: "send_msg",
            data: input.value,
            name: nameValue,
          };

          webSocket.send(JSON.stringify(data)); //데이터 전달은 string 형태로,,
          input.value = "";
          input.focus();
        });

        webSocket.onmessage = (event) => {
          const chat = document.querySelector("#chat");
          const liElement = document.createElement("li");

          //console.log(event.data.toString());

          //liElement.innerHTML = event.data;
          let obj = JSON.parse(event.data.toString());

          liElement.innerHTML =
            "<span>" + obj.name + "</span> : <span>" + obj.data + "</span>";

          chat.appendChild(liElement);
          //console.log(obj.data);
        };
      });
    </script>
  </head>
  <body>
    <h1><a href="/">home</a></h1>
    <h2>hello web socket!!</h2>

    <%if(name){%> name : <%}%> <%=name%>
    <form method="get">
      <input type="hidden" name="name" id="name" placeholder="이름" value="" />
      <input type="text" name="input" id="input" placeholder="메시지" />
      <input class="submit" type="button" value="전송" />
    </form>
    <ul id="chat"></ul>
  </body>
</html>
