
# dependencies
#  /node_modules

# testing

# production
#  .env
#  .nodemon.json

#  npm-debug.log*s


#######
/client/etc/html/
/client/etc/html1/
/client/etc/img/*

######
/_log
/node_modules
/node_modules2
/_set/system_setting.json.sample
/_set/system_setting.json
/_set/.env
/sessions
/client/etc/cho.png
devnote.txt
app_api.js
app_login.js.bak