
# dependencies
#  /node_modules

# testing

# production
#  .env
#  .nodemon.json

#  npm-debug.log*s


#######
devnote.txt
/client/etc/cho.png
/client/etc/html/
/client/etc/html1/
/_set/system_setting.json.sample
/_set/system_setting.json
app_api.js
app_login.js.bak