
# dependencies
#  /node_modules

# testing

# production
#  .env
#  .nodemon.json

#  npm-debug.log*s


#######
/client/etc/html/
/client/etc/html1/

//sessions
/client/etc/cho.png
/_set/system_setting.json.sample
/_set/system_setting.json
devnote.txt
app_api.js
app_login.js.bak