/* 자유게시판 리스트*/
.free table {
  width: 700px;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}
.free th {
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
}
.free td {
  border-bottom: 1px solid gray;
}
.free .col1,
.free .col4 {
  width: 8%;
}
.free .col3,
.free .col5 {
  width: 14%;
}
.free th,
.free td {
  padding: 10px;
}
.free td + td {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.free td,
.free td + td + td {
  text-align: center;
}
.free a {
  text-decoration: none;
  color: rgb(80, 80, 80);
}
.free a:hover {
  color: blueviolet;
}
.free a + span {
  font-size: 0.7em;
  color: black;
}
.free .face {
  width: 12px;
}
.free .button {
  width: 700px;
  margin: 20px auto 5px;
  text-align: right;
}
.free .button a {
  background: rgb(94, 109, 156);
  border-radius: 3px;
  padding: 6px 8px;
  margin: 25px;
  text-decoration: none;
  color: black;
}
.free .button a:hover {
  color: blueviolet;
}
.free .number {
  width: 350px;
  margin: 0 auto;
}
.free .number::after {
  content: "";
  display: block;
  clear: both;
}
.free .number div {
  width: 30px;
  height: 26px;
  background: rgb(188, 223, 236);
  border-radius: 5px;
  text-align: center;
  margin: 10px 10px 0px;
  padding: 4px 0 0;
  float: left;
}
.free .number .select {
  background: rgb(253, 198, 94);
  text-decoration: underline;
}

/* 게시판 글쓰기 */
.write {
  width: 700px;
  margin: 0 auto;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}
.write input {
  width: 676px;
  padding: 10px;
  margin: 12px auto 0;
}
.write textarea {
  width: 676px;
  padding: 10px;
  margin: 12px auto 0;
}
.write .text {
  table-layout: fixed;
  height: 300px;
  white-space: pre-line;
  word-break: break-all;
}
.write .button {
  padding: 0 200px;
  margin: 15px auto;
}
.write .button a {
  border: 1px solid black;
  background: gainsboro;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  color: black;
}
.write .button button {
  border: 1px solid black;
  background: gainsboro;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  color: black;
}
.write .button a:hover {
  color: blueviolet;
}
.write p {
  text-align: center;
}

/* 게시판 상세 */
.detail {
  width: 700px;
  margin: 0 auto;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}
.detail .name {
  margin: 0 0 0 15px;
  float: left;
}
.detail .date {
  margin: 0 15px 0 0;
  float: right;
}
.detail .box {
  white-space: pre-line;
  padding: 10px;
  border: 1px solid black;
}
.detail hr {
  clear: both;
}
.detail p {
  text-align: center;
}
.detail .button {
  padding: 0 200px;
  margin: 15px auto;
}
.detail .button a {
  border: 1px solid black;
  background: gainsboro;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  color: black;
}
.detail .button a:hover {
  color: blueviolet;
}

/* 회원가입 */
.sign {
  width: 300px;
  margin: 50px auto 100px;
  padding: 30px 40px 50px;
  border-radius: 30px;
  background-color: rgb(167, 133, 230);
}
.sign h1 {
  text-align: center;
}
.sign h3 {
  color: darkslateblue;
  margin: 10px auto;
}
.sign .name,
.sign .id,
.sign .pw {
  width: 272px;
  margin: 0 auto 10px;
  padding: 12px;
}
.sign .box {
  width: 300px;
  margin: 20px auto;
  padding: 9px;
}

/* 로그인 */
.login {
  width: 300px;
  margin: 50px auto 150px;
  padding: 30px 40px 50px;
  border-radius: 30px;
  background-color: rgb(167, 193, 204);
}
.login h1 {
  text-align: center;
}
.login h3 {
  color: darkslateblue;
  margin: 10px auto;
}
.login .id,
.login .pw {
  width: 272px;
  margin: 0 auto 10px;
  padding: 12px;
}
.login .box {
  width: 300px;
  margin: 20px auto;
  padding: 9px;
}

/* 회원가입 약관 */
.contract {
  width: 700px;
  margin: 50px auto 80px;
  padding: 30px 40px 50px;
  border-radius: 30px;
  background-color: rgb(167, 193, 204);
}
.contract h1 {
  text-align: center;
}
.contract .text {
  height: 230px;
  border: 1px solid black;
  background-color: white;
  white-space: pre-line;
  overflow-y: scroll;
  margin: 0 auto 20px;
}
.contract p {
  text-align: right;
}
.contract .box {
  width: 100px;
  height: 40px;
  padding: 8px;
  margin: 0 3px;
}
