<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=0.7" />
  <title>홈페이지</title>

  <!-- 홈 그림-->
  <link rel="shortcut icon" type="image/x-icon" href="/client/etc/cho.png" />

  <link href="/client/css/style.css" rel="stylesheet" type="text/css" />
  <link href="/client/css/user.css" rel="stylesheet" type="text/css" />
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="/client/js/index.js"></script>
</head>
