<!DOCTYPE html>
<html lang="ko">
  <!-- 템플릿 분리-->
  <%-include ('./head.ejs') %>
  <body>
    <header>
      <div class="homebox">
        <a href="index.html" class="logo"></a>
      </div>
    </header>

    <!-- 템플릿 분리-->
    <%-include ('./nav.ejs') %>

    <!-- 템플릿 분리-->
    <%-include ('./main.ejs') %>

    <!-- 템플릿 분리-->
    <%-include ('./footer.ejs') %>
  </body>
</html>
