<nav>
  <div class="parent">
    <div class="first">
      <a href="/login/loginHome"><span>홈으로</span></a>
    </div>

    <!-- -->
    <% if (isLogin ==true ) { %>
    <div class="second">
      안녕하세요 <%=userInfo %>님 반갑습니다!
      <a href="/login/loginOut"><span>[로그아웃]</span></a>
    </div>
    <% } %>

    <!-- -->
    <% if (isLogin !=true ) { %>
    <div class="third">
      안녕하세요 반갑습니다!
      <a href="/login/loginform"><span>[로그인하기]</span></a>
      <a href="/login/memberJoinForm">[가입하기]</a>
    </div>
    <% } %>
  </div>

  <div class="menubox">
    <%#
    <li><a href="/board/home">홈</a></li>
    %>

    <!-- -->
    <% if (isLogin ==true ) { %>
    <ul>
      <li>
        <a href="/daily/list?board_no=10">개인일기장(본인글만 볼 수 있어요.)</a>
      </li>
      <li><a href="/board/list?board_no=11">자유게시판</a></li>
      <li><a href="/board/list?board_no=12">자유게시판2</a></li>
    </ul>
    <% } %>

    <!-- 어드민 -->
    <% if (isLogin ==true ) { %>
    <ul>
      <li>
        <a href="/function/xlsxFileDownload"
          >디비정보를 엑셀파일로 다운로드받기(customers)</a
        >
      </li>
      <li>
        <a href="/function/api/subway">공공api 지하철 경로 정보 가져오기</a>
      </li>
    </ul>
    <% } %>

    <!-- 어드민 -->
    <% if (isLogin ==true && userInfo == 'salt') { %>
    <ul>
      <li><a href="/function/mysql">디비에서 내용 출력</a></li>
      <li><a href="/function/xlsxToDbForm">디비로 엑셀 업로드</a></li>
      <li>
        <a href="/function/xlsxDownload">디비에서 서버내로 엑셀 다운로드</a>
      </li>
      <li>
        <a href="/function/xlsxFileDownload"
          >디비정보를 엑셀파일로 다운로드받기(customers)</a
        >
      </li>
      <li>
        <a href="/function/scheduling3"
          >메일이 정기적으로 가도록 함(스케쥴링).(beta)</a
        >
      </li>
      <li>
        <a href="/test/re1">크롤링 웹페이지를 가져옴.(beta)</a>
      </li>
      <li>
        <a href="/test/w">소켓통신.(beta)</a>
      </li>
      <li>
        <a href="/function/exmail"
          >5분마다 정기적으로 디비에서 첨부파일 메일 보내기.(beta)</a
        >
      </li>
      <li>
        <a href="/function/socket">function소켓통신.(beta)</a>
      </li>
    </ul>
    <% } %>
  </div>
</nav>
