<!DOCTYPE html>
<html>
  <head>
    <title>홈 페이지</title>
  </head>
  <body>
    welcome to my home!

    <p>
      <a href="/home"><button>홈으로</button></a>
    </p>

    <div>의 클릭수는 : <%= members.length %>
    
    
      <ul>
        <% for(var i=0; i<members.length; i++){ %>
          <li>
              <%= "LOOP" + members[i] %>
          </li>
        <% } %>
      </ul>
    
    
    </div>
  </body>
</html>
