<!DOCTYPE html>
<html lang="ko">
  <!-- 템플릿 분리-->
  <%-include ('./head.ejs') %>
  <body>
    <header>
      <div class="homebox">
        <a href="index.html" class="logo"></a>
      </div>
    </header>

    <!-- 템플릿 분리-->
    <%-include ('./nav.ejs') %>

    <main>
  
      <div style='text-align:center'><p>stateCode:500, go back.</p>  <a href='/'>go back to mainPage. </a><div>
        
    </main>
    
    <!-- 템플릿 분리-->
    <%-include ('./footer.ejs') %>
  </body>
</html>
