<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 글쓰기</title>


  </head>
  <body>
       게시글 리스트 

    <p>
      <a href="/home"><button>홈으로22</button></a>
    </p>

    <div>의 클릭수는 : <%= list %>
    
    
      <ul>
        <% for(var i=0; i<list.length; i++){ %>
          <li>
              <%= "LOOP" + list[i] %>
          </li>
        <% } %>
      </ul>
    
    
    </div>
  </body>
</html>
