<!DOCTYPE html>
<html>
  <head>
    <title>엑셀파일 업로드</title>
  </head>
  <body>
    <form
      action="/function/fileToServer"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="filenames" accept="./png" />
      <input type="submit" value="업로드" />
    </form>
  </body>
</html>
